In [ ]:
import pandas as pd
import numpy as np
%load_ext rpy2.ipython

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%%R
data = read.csv("/content/drive/MyDrive/BUDT758B/tracks.csv", encoding = 'utf-8')

In [ ]:
%%R
require("tidyverse")

UsageError: Cell magic `%%R` not found.

In [ ]:
%%R
colnames(data)

 [1] "id"               "name"             "popularity"       "duration_ms"
 [5] "explicit"         "artists"          "id_artists"       "release_date"
 [9] "danceability"     "energy"           "key"              "loudness"
[13] "mode"             "speechiness"      "acousticness"     "instrumentalness"
[17] "liveness"         "valence"          "tempo"            "time_signature"

In [ ]:
%%R
data <- data  %>% 
select(-(c(id)))

In [ ]:
%%R
data$year = substr(data$release_date, 1, 4)

In [ ]:
%%R

#Removing the ['....... '] frame around the artists -> ['AC/DC'] now becomes AC/DC
data$artists <- gsub("\\']","",gsub("\\[\'", "",data$artists))

#The B-52s were causing a bit of trouble. Time to sort them out
data$artists <- gsub('\\"]',"",gsub('\\[\"', "",data$artists))

#Cleaning the Jrs
data$artists <- gsub(", Jr.", " Jr",data$artists)


#Splitting the string where there are more than 1 artists

data$artists <- as.list(strsplit(data$artists,","))

In [ ]:
%%R
colnames(data)

 [1] "name"             "popularity"       "duration_ms"      "explicit"
 [5] "artists"          "id_artists"       "release_date"     "danceability"
 [9] "energy"           "key"              "loudness"         "mode"
[13] "speechiness"      "acousticness"     "instrumentalness" "liveness"
[17] "valence"          "tempo"            "time_signature"   "year"

In [ ]:
%%R

data$artist1 <- ""
#Creating a column for the first artist
data$artist1 <- data$artists

#Populating the values in the first column. Warning: This could take a while
row= 0
for (row in c(1:nrow(data)))
{
  if (length(data$artists[row]) >= 0 )
  {
    #print(data$artists[row]) #If you want to see the progress
    data$artist1[row] = data$artist1[row][[1]]
  }
}

R[write to console]: Error in data$artist1[row] <- data$artist1[row][[1]] :
  replacement has length zero

R[write to console]: In addition:
R[write to console]: There were 50 or more warnings (use warnings() to see the first 50)
R[write to console]:

Error in data$artist1[row] <- data$artist1[row][[1]] :
  replacement has length zero

In [ ]:
%%R
#Creating columns for Artist 2,3,4 
data$artist2 <- ""
data$artist3 <- ""
data$artist4 <- ""


#Taking in the values for artists 2,3,4 from the list of artists. Replaces with NA if there are no supporting artists 
i=0
for (i in c(1:nrow(data)))
{
  if (length(data$artists[[i]] == 5))
  {
    data$artist2[i] <- data$artists[[i]][2]
    data$artist3[i] <- data$artists[[i]][3]
    data$artist4[i] <- data$artists[[i]][4]
  }else 
  {
   print("Need more column")
    print(length(data$artists[[i]]))
  }
}

[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0
[1] "Need more column"
[1] 0

In [ ]:
%%R 

#Removing the ' occurences in the data
data$artist2 <- gsub("'","", data$artist2)
#Removing trailing spaces 
data$artist2 <- str_trim(data$artist2)


#Applying for other artists
data$artist3 <- gsub("'","", data$artist3)
data$artist3 <- str_trim(data$artist3)

data$artist4 <- gsub("'","", data$artist4)
data$artist4 <- str_trim(data$artist4)

#data$artist5 <- gsub("'","", data$artist5)
#data$artist5 <- str_trim(data$artist5)



data$n_artists = case_when(
                    is.na(data$artist4) == FALSE ~ 4,
                   (is.na(data$artist4) == TRUE) & (is.na(data$artist3) == FALSE) ~ 3,
                   (is.na(data$artist3) == TRUE) & (is.na(data$artist2) == FALSE) ~ 2,
                   TRUE ~ 1
)

In [ ]:
%%R
for (i in 1:ncol(data))
{print (class(data[, i])) }

[1] "character"
[1] "integer"
[1] "integer"
[1] "integer"
[1] "character"
[1] "character"
[1] "numeric"
[1] "numeric"
[1] "integer"
[1] "numeric"
[1] "integer"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "numeric"
[1] "integer"
[1] "character"
[1] "character"
[1] "character"
[1] "character"
[1] "character"
[1] "numeric"

In [ ]:
%%R
data = data %>%
select(-(artists))

In [ ]:
%%R
data$artist1 = as.character(data$artist1)

In [ ]:
%%R
data <- data %>% 
  mutate(decade = case_when(data$year >= 1920 & data$year < 1930 ~ "1920" ,
                            data$year >= 1930 & data$year < 1940 ~ "1930" ,
                            data$year >= 1940 & data$year < 1950 ~ "1940" ,
                            data$year >= 1950 & data$year < 1960 ~ "1950" ,
                            data$year >= 1960 & data$year < 1970 ~ "1960" ,
                            data$year >= 1970 & data$year < 1980 ~ "1970" ,
                            data$year >= 1980 & data$year < 1990 ~ "1980" ,
                            data$year >= 1990 & data$year < 2000 ~ "1990" ,
                            data$year >= 2000 & data$year < 2010 ~ "2000" ,
                            data$year >= 2010 & data$year < 2020 ~ "2010",
                            data$year >= 2020 ~ "2020"))

data$decade = as.numeric(data$decade)
data <- data %>% 
  mutate(is_popular = ifelse(data$popularity > 25, 1, 0))

In [ ]:
%%R
write.csv(data, file=("/content/drive/MyDrive/BUDT758B/cleaned_datafinal.csv"))

#Removed .csv succesffuly into Shared Files 4/25/2021